.contact {
    padding: 3rem 0;
}

.contact-content {
    display: grid;
    gap: 4rem;
}

.contact-title {
    margin: 1rem 0;
}

.contact-img img {
    max-width: 520px;
    border-radius: 8px;
}

.contact-text p {
    margin: 1.8rem 0;
    opacity: 0.8;
}

.contact-info {
    margin-top: 2rem;
}

.contact-info p {
    font-weight: bold;
    margin-bottom: 1rem;
}

.social-contacts {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-contact a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

.social-contact a:hover {
    color: #0056b3;
}

@media screen and (min-width: 800px) {
    .contact-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-title {
        margin-top: 0;
    }
    .contact-img img {
        margin-left: 0;
    }
}
